h1 {
  position: sticky;
  padding: 15px 15px;
  top: 0;
  background-color: #fff;
  text-align: center;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

h2 {
  display: inline-block;
  font-size: 38px;
  font-weight: bold;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 4px 6px;
  text-transform: capitalize;
}

p {
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Times New Roman', Times, serif;
}

figure {
  max-width: 100%;
}

img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.image {
  margin: 0 auto;
  text-align: center;
  height: auto;
}

figcaption {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 16px;
  padding: 10px;
}

footer a {
  margin: auto auto 50px;
  font-size: 40px;
  display: block;
  text-align: center;
  color: #000;
}

footer a:hover {
  background-color: #fff;
}

@media only screen and (max-width: 600px) {
  h2 {
    text-align: center;
  }

  img {
    height: 300px;
  }
}
